html {
  box-sizing: border-box;
  background: -webkit-linear-gradient(right, #D7410D, #590136);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3 {
	margin:0;
	padding:0;
}

.container{
	width:100%;
}

.main {
  width: 1000px;
  padding-top: 75px;
	margin: 0 auto;
}

.main h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 48px;
	margin-top: 100px;
  color: #cacaca;
  opacity: 0;

  animation: fadeInAnimation 1s ease-in-out 0s forwards;
}

.main h2 {
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: #83C730;
  margin-bottom: 60px;
  opacity: 0;

  animation: fadeInAnimation 1s ease-in-out 0.3s forwards;
}

.terminal {
	background: #300A24;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 0;

  animation:
    slideDownAnimation 1s ease-in-out 0.7s forwards,
    fadeInAnimation 0.8s ease-in-out 1s forwards;
}

.terminal-title {
  height: fit-content;
  text-align: center;
  background-color: #292727;
  color: #FFF;
  padding-top: 10px;
}

.userText {
  color: #83C730;
  margin: 0;
  padding: 0;
  display: inline-block;
}

hr {
  border: 1px solid rgb(56, 56, 56);
}

span {
  color: rgba(236, 236, 236, 0.9);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #300A24; 
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 88); 
}

#results {
	width: 100%;
	height: 650px;
	padding: 12px;
	overflow-y: auto;
	resize: none;
	border: none;
	font-size: 14px;
	display: block;
	color: rgba(236, 236, 236, 0.9);
}

#results a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}

.referral h3 {
  font-size: 13px;
  position: absolute;
  color: rgb(187, 187, 187);
}

.referral a {
  color: rgb(187, 187, 187);
  text-decoration: none;
}

input {
	background: #300A24;
	display: block;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-radius: 0 0 4px 4px;
	width: 100%;
	color: #e7e7e7;
	padding: 18px;
	font-size: 14px;
  outline: none;
  font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 1500px) {
  .container {
    height: 220px;
  }
  .main {
    padding-top: 50px;
  }
  #results {
    height: 650px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 220px;
  }
  .main {
    width: 100%;
    padding: 25px 12px;
  }
  .main h1 {
    font-size: 32px;
    margin: 40px 0 0 0;
  }
  .main h2 {
    font-size: 16px;
    margin: 0 0 40px 0;
  }
  .terminal-title {
    font-size: 14px;
  }
  #results {
    height: 650px;
    line-height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 50px 12px;
  }
  #results {
    height: 425px;
    line-height: 17px;
    font-size: 12px;
  }
  .referral h3 {
    font-size: 10px;
  }
}
